{% block form_row %}
{% spaceless %}
    <div class="form-group {{ errors|length > 0 ? 'error' : '' }} {% if (form.vars.attr is defined) and (form.vars.attr.class is defined) %}{{ form.vars.attr.class }}{% endif %}">
    	<div class="col-xs-3 col-md-3">
        	{{ form_label(form, null, {'attr': {'class':'control-label'}}) }}
        </div>
        <div class="col-xs-9 col-md-7">
        	{{ form_widget(form, {'attr': {'class':'form-control'}}) }}
        </div>
        <div class="col-xs-3 col-md-2">
        	{{ form_errors(form) }}
		</div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <span class="help-inline">
        {% for error in errors %}
            {{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}
        {% endfor %}
    </span>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button class="btn btn-success" type="{{ type|default('button') }}" {{ block('button_attributes') }}><span class="glyphicon glyphicon-ok"></span> {{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}
