{% extends '::base.html.twig' %}

{% block title %}
	CDN Admin
{% endblock %}

{% block favicon %}
	<link rel="shortcut icon" href="{{ asset('bundles/cdnservercore/images/favicon.ico') }}" />
{% endblock %}

{% block metas %}
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block stylesheets %}
	{#
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/cdnservercore/css/bootstrap.min.css') }}" />
	#}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/cdnservercore/css/bootstrap_slate.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/cdnservercore/css/admin.css') }}" />
{% endblock %}

{% block body %}

<div style="padding:25px;">
	{% include 'CDNServerCoreBundle:Admin:_menu.html.twig' %}
	
	{% include 'CDNServerCoreBundle:Admin:_flash.html.twig' %}
	
	{% block content %}{% endblock %}
</div>
			
{% endblock %}

{% block header_javascripts %}
	<script language="javascript" src="{{ asset('bundles/cdnservercore/js/hinclude.min.js') }}"></script>
{% endblock %}

{% block javascripts %}
	<script language="javascript" src="{{ asset('bundles/cdnservercore/js/jquery-1.11.0.min.js') }}"></script>
	<script language="javascript" src="{{ asset('bundles/cdnservercore/js/bootstrap.min.js') }}"></script>
{% endblock %}
